In [6]:
import pandas as pd
import numpy as np

In [7]:
train_pro_paths = [r"C:\Users\salam\Documents\GitHub", ""]
train_pro_path = train_pro_paths[0]

In [8]:
# EXPLORING THE DATA

In [9]:
train_pro = pd.read_csv(train_pro_path + "\ML-evaluate-summaries\data\prompts_train.csv")
train_pro

,prompt_id,prompt_question,prompt_title,prompt_text
0,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \r\nAs the sequel to what has alrea...
1,3b9047,"In complete sentences, summarize the structure...",Egyptian Social Structure,Egyptian society was structured like a pyramid...
2,814d6b,Summarize how the Third Wave developed over su...,The Third Wave,Background \r\nThe Third Wave experiment took ...
3,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an..."

In [10]:
train_sum = pd.read_csv(train_pro_path + "\ML-evaluate-summaries\data\summaries_train.csv")
train_sum

,student_id,prompt_id,text,content,wording
0,000e8c3c7ddb,814d6b,The third wave was an experimentto see how peo...,0.205683,0.380538
1,0020ae56ffbf,ebad26,They would rub it up with soda to make the sme...,-0.548304,0.506755
2,004e978e639e,3b9047,"In Egypt, there were many occupations and soci...",3.128928,4.231226
3,005ab0199905,3b9047,The highest class was Pharaohs these people we...,-0.210614,-0.471415
4,0070c9e7af47,814d6b,The Third Wave developed rapidly because the ...,3.272894,3.219757
...,...,...,...,...,...
7160,ff7c7e70df07,ebad26,They used all sorts of chemical concoctions to...,0.205683,0.380538
7161,ffc34d056498,3b9047,The lowest classes are slaves and farmers slav...,-0.308448,0.048171
7162,ffd1576d2e1b,3b9047,they sorta made people start workin...,-1.408180,-0.493603
7163,ffe4a98093b2,39c16e,An ideal tragety has three elements that make ...,-0.393310,0.627128
7164,fffbccfd8a08,ebad26,"The meat would smell sour but the would ""rub i...",1.771596,0.547742

In [11]:
test_sum = pd.read_csv(train_pro_path + "\ML-evaluate-summaries\data\summaries_test.csv")
test_sum

     student_id prompt_id            text
0  000000ffffff    abc123  Example text 1
1  111111eeeeee    def789  Example text 2
2  222222cccccc    abc123  Example text 3
3  333333dddddd    def789  Example text 4

In [12]:
test_pro = pd.read_csv(train_pro_path + "\ML-evaluate-summaries\data\prompts_test.csv")
test_pro

  prompt_id prompt_question     prompt_title       prompt_text
0    abc123    Summarize...  Example Title 1  Heading\nText...
1    def789    Summarize...  Example Title 2  Heading\nText...

In [13]:
# we will need to take a portion of the train data as test data

In [39]:
train = train_pro.merge(train_sum , on = "prompt_id")
train

,prompt_id,prompt_question,prompt_title,prompt_text,student_id,text,content,wording
0,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \r\nAs the sequel to what has alrea...,00791789cc1f,1 element of an ideal tragedy is that it shoul...,-0.210614,-0.471415
1,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \r\nAs the sequel to what has alrea...,0086ef22de8f,The three elements of an ideal tragedy are: H...,-0.970237,-0.417058
2,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \r\nAs the sequel to what has alrea...,0094589c7a22,Aristotle states that an ideal tragedy should ...,-0.387791,-0.584181
3,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \r\nAs the sequel to what has alrea...,00cd5736026a,One element of an Ideal tragedy is having a co...,0.088882,-0.594710
4,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \r\nAs the sequel to what has alrea...,00d98b8ff756,The 3 ideal of tragedy is how complex you need...,-0.687288,-0.460886
...,...,...,...,...,...,...,...,...
7160,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an...",ff37545b2805,"In paragraph two, they would use pickle meat a...",1.520355,-0.292990
7161,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an...",ff4ed38ef099,"in the first paragraph it says ""either can it...",-1.204574,-1.169784
7162,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an...",ff53b94f7ce0,They would have piles of filthy meat on the fl...,0.328739,-1.053294
7163,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an...",ff7c7e70df07,They used all sorts of chemical concoctions to...,0.205683,0.380538
7164,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an...",fffbccfd8a08,"The meat would smell sour but the would ""rub i...",1.771596,0.547742

In [15]:
import tensorflow as tf
from transformers import RobertaTokenizer, TFRobertaModel
from tensorflow import keras
from keras import layers

In [151]:
import warnings
import logging
import os

In [156]:
# disabling unnecceseray warnings
warnings.simplefilter("ignore")
#logging.disable(logging.ERROR)
#os.environ["TOKENIZERS_PARALLELISM"] = "false"
#os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'

In [150]:
import random

# Set random seeds
random_seed = 42
np.random.seed(random_seed)
tf.random.set_seed(random_seed)
random.seed(random_seed)

In [16]:
# testing the tokenizer and model
# Applying PCA?

In [157]:
tokenizer = RobertaTokenizer.from_pretrained('roberta-base')
roberta = TFRobertaModel.from_pretrained('roberta-base')

In [147]:
input_text = train['text'][0]
tokens = tokenizer(input_text, return_tensors='tf')
outputs = roberta(tokens)[0]
last_hidden_state = np.array(outputs).mean(axis = 1)

model = keras.Sequential([tf.keras.layers.Flatten(), 
                          tf.keras.layers.Dense(2, activation='linear')])

dense_output = model(last_hidden_state)
dense_output

In [143]:
model.summary()

Model: "sequential_14"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 flatten_71 (Flatten)        (1, 768)                  0

 dense_75 (Dense)            (1, 2)                    1538

=================================================================
Total params: 1538 (6.01 KB)
Trainable params: 1538 (6.01 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________