In [93]:
import pandas as pd
import numpy as np

In [148]:
from autocorrect import Speller
spell = Speller(lang='en', fast=True)
spell('</s>')

'</s>'

In [94]:
train_pro_paths = [r"C:\Users\salam\Documents\GitHub\ML-evaluate-summaries\data\"",
                   "/Users/danielpalmor/VisualStudioProjects/ML-evaluate-summaries/ML-evaluate-summaries/data/"]
train_pro_path = train_pro_paths[1]

In [95]:
# EXPLORING THE DATA

In [96]:
train_pro = pd.read_csv(train_pro_path + "prompts_train.csv")
train_pro

,prompt_id,prompt_question,prompt_title,prompt_text
0,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \nAs the sequel to what has already...
1,3b9047,"In complete sentences, summarize the structure...",Egyptian Social Structure,Egyptian society was structured like a pyramid...
2,814d6b,Summarize how the Third Wave developed over su...,The Third Wave,Background \nThe Third Wave experiment took pl...
3,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an..."

In [97]:
train_sum = pd.read_csv(train_pro_path + "summaries_train.csv")
train_sum

,student_id,prompt_id,text,content,wording
0,000e8c3c7ddb,814d6b,The third wave was an experimentto see how peo...,0.205683,0.380538
1,0020ae56ffbf,ebad26,They would rub it up with soda to make the sme...,-0.548304,0.506755
2,004e978e639e,3b9047,"In Egypt, there were many occupations and soci...",3.128928,4.231226
3,005ab0199905,3b9047,The highest class was Pharaohs these people we...,-0.210614,-0.471415
4,0070c9e7af47,814d6b,The Third Wave developed rapidly because the ...,3.272894,3.219757
...,...,...,...,...,...
7160,ff7c7e70df07,ebad26,They used all sorts of chemical concoctions to...,0.205683,0.380538
7161,ffc34d056498,3b9047,The lowest classes are slaves and farmers slav...,-0.308448,0.048171
7162,ffd1576d2e1b,3b9047,they sorta made people start workin...,-1.408180,-0.493603
7163,ffe4a98093b2,39c16e,An ideal tragety has three elements that make ...,-0.393310,0.627128
7164,fffbccfd8a08,ebad26,"The meat would smell sour but the would ""rub i...",1.771596,0.547742

In [150]:
test_sum = pd.read_csv(train_pro_path + "summaries_test.csv")
test_sum

     student_id prompt_id            text
0  000000ffffff    abc123  Example text 1
1  111111eeeeee    def789  Example text 2
2  222222cccccc    abc123  Example text 3
3  333333dddddd    def789  Example text 4

In [151]:
test_pro = pd.read_csv(train_pro_path + "prompts_test.csv")
test_pro

  prompt_id prompt_question     prompt_title       prompt_text
0    abc123    Summarize...  Example Title 1  Heading\nText...
1    def789    Summarize...  Example Title 2  Heading\nText...

In [100]:
# we will need to take a portion of the train data as test data

In [152]:
train = train_pro.merge(train_sum , on = "prompt_id")
train

,prompt_id,prompt_question,prompt_title,prompt_text,student_id,text,content,wording
0,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \nAs the sequel to what has already...,00791789cc1f,1 element of an ideal tragedy is that it shoul...,-0.210614,-0.471415
1,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \nAs the sequel to what has already...,0086ef22de8f,The three elements of an ideal tragedy are: H...,-0.970237,-0.417058
2,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \nAs the sequel to what has already...,0094589c7a22,Aristotle states that an ideal tragedy should ...,-0.387791,-0.584181
3,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \nAs the sequel to what has already...,00cd5736026a,One element of an Ideal tragedy is having a co...,0.088882,-0.594710
4,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \nAs the sequel to what has already...,00d98b8ff756,The 3 ideal of tragedy is how complex you need...,-0.687288,-0.460886
...,...,...,...,...,...,...,...,...
7160,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an...",ff37545b2805,"In paragraph two, they would use pickle meat a...",1.520355,-0.292990
7161,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an...",ff4ed38ef099,"in the first paragraph it says ""either can it...",-1.204574,-1.169784
7162,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an...",ff53b94f7ce0,They would have piles of filthy meat on the fl...,0.328739,-1.053294
7163,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an...",ff7c7e70df07,They used all sorts of chemical concoctions to...,0.205683,0.380538
7164,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an...",fffbccfd8a08,"The meat would smell sour but the would ""rub i...",1.771596,0.547742

In [102]:
import tensorflow as tf
from transformers import RobertaTokenizer, TFRobertaModel
from tensorflow import keras
from keras import layers
import datetime

In [103]:
import warnings
import logging
import os

In [104]:
# disabling unnecceseray warnings
warnings.simplefilter("ignore")
logging.disable(logging.ERROR)
#os.environ["TOKENIZERS_PARALLELISM"] = "false"
#os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'

In [105]:
import random

# Set random seeds
random_seed = 42
np.random.seed(random_seed)
tf.random.set_seed(random_seed)
random.seed(random_seed)

In [106]:
tokenizer = RobertaTokenizer.from_pretrained('roberta-base')
roberta = TFRobertaModel.from_pretrained('roberta-base')

In [107]:
# testing on a single entry

In [108]:
input_text = train['text'][0]
tokens = tokenizer(input_text, return_tensors='tf')
outputs = roberta(tokens)[0]
last_hidden_state = np.array(outputs).mean(axis = 1)

model = keras.Sequential([tf.keras.layers.Flatten(), 
                          tf.keras.layers.Dense(2, activation='linear')])

dense_output = model(last_hidden_state)
dense_output

In [109]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 flatten_1 (Flatten)         (1, 768)                  0

 dense_5 (Dense)             (1, 2)                    1538

=================================================================
Total params: 1538 (6.01 KB)
Trainable params: 1538 (6.01 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [110]:
# Preprocessing the features and labels

# Information about the X_train and Y_train after the next cell

In [167]:
sep = " " + tokenizer.sep_token + " "
train["text"] = train["text"].apply(lambda x: spell(x))
train['input'] = train['prompt_title'] + sep + train['prompt_question'] + sep + train['text']
train['input']

0       On Tragedy </s> Summarize at least 3 elements ...
1       On Tragedy </s> Summarize at least 3 elements ...
2       On Tragedy </s> Summarize at least 3 elements ...
3       On Tragedy </s> Summarize at least 3 elements ...
4       On Tragedy </s> Summarize at least 3 elements ...
                              ...
7160    Excerpt from The Jungle </s> Summarize the var...
7161    Excerpt from The Jungle </s> Summarize the var...
7162    Excerpt from The Jungle </s> Summarize the var...
7163    Excerpt from The Jungle </s> Summarize the var...
7164    Excerpt from The Jungle </s> Summarize the var...
Name: input, Length: 7165, dtype: object

In [168]:
# Tokenize text data
MAX_TOKEN_LENGTH  = int(train['input'].apply(len).mean())
token_encodings = tokenizer.batch_encode_plus(train['input'].tolist(),
                                              add_special_tokens=True,
                                              truncation=True, 
                                              padding=True, 
                                              return_tensors='tf', 
                                              max_length=MAX_TOKEN_LENGTH,
                                              return_attention_mask = True)

# get all input_ids and attention_masks
input_ids = token_encodings['input_ids']
attention_masks = token_encodings['attention_mask']

X_train = tf.convert_to_tensor([tf.concat([inputs, masks], axis=-1)
                                for inputs, masks in zip(input_ids, attention_masks)])

Y_train = tf.constant(train[['content', 'wording']].values, dtype='float32')

In [113]:
# Examples of the features and labels
print("X_train element:")
print(X_train[0])
print()
print("Y_train element:")
print(Y_train[0])
print()
print(f"X_train shape: {X_train.shape}")
print(f"Y_train shape: {Y_train.shape}")

X_train element:
tf.Tensor([   0 4148 2393 ...    0    0    0], shape=(1136,), dtype=int32)

Y_train element:
tf.Tensor([-0.21061394 -0.47141483], shape=(2,), dtype=float32)

X_train shape: (7165, 1136)
Y_train shape: (7165, 2)

In [157]:
# Building the keras neural network
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [169]:
# Creating a layer that will transform the input to a valid roberta input
class RoBERTaInputLayer(layers.Layer):
    def call(self, inputs):
        # Split the input tensor along the last dimension
        split1 = inputs[:, :MAX_TOKEN_LENGTH]
        split2 = inputs[:, MAX_TOKEN_LENGTH:]
        return [split1, split2]


# Define keras neural network with Functional API
    
# Explanation of the Functional API: 
# For every layer we specify between parentheses at the end of the line the previous layer which will be the input.
    
input_layer = keras.Input(shape=(2 * MAX_TOKEN_LENGTH), dtype='int32')

roberta_input_layer = RoBERTaInputLayer()(input_layer)

roberta_output = roberta(roberta_input_layer[0], roberta_input_layer[1])['last_hidden_state']

global_avg_pooling = layers.GlobalAveragePooling1D()(roberta_output)

hidden_layer1 = layers.Dense(256, activation='linear')(global_avg_pooling)
batch_norm1 = layers.BatchNormalization()(hidden_layer1)

hidden_layer2 = layers.Dense(128, activation='linear')(batch_norm1)
batch_norm2 = layers.BatchNormalization()(hidden_layer2)

output_layer = layers.Dense(2, activation='linear')(batch_norm2)

# Define the model
model = keras.Model(inputs=input_layer, outputs=output_layer)

# Make roberta params untrainable
for layer in model.layers[:-5]:
  if layer.trainable == False:
    continue
  layer.trainable = False 


model.summary()

Model: "model_8"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_9 (InputLayer)        [(None, 1134)]               0         []

 ro_ber_ta_input_layer_8 (R  [(None, 567),                0         ['input_9[0][0]']
 oBERTaInputLayer)            (None, 567)]

 tf_roberta_model_1 (TFRobe  multiple                     1246456   ['ro_ber_ta_input_layer_8[0][0
 rtaModel)                                                32        ]',
                                                                     'ro_ber_ta_input_layer_8[0][1
                                                                    ]']

 global_average_pooling1d_8  (None, 768)                  0         ['tf_roberta_model_1[4][0]']
  (GlobalAveragePooling1D)

 dense_16 (Dense)            (None, 256)                  196864    ['global_average_pooling1d_8[0
                                                                    ][0]']

 batch_normalization_6 (Bat  (None, 256)                  1024      ['dense_16[0][0]']
 chNormalization)

 dense_17 (Dense)            (None, 128)                  32896     ['batch_normalization_6[0][0]'
                                                                    ]

 batch_normalization_7 (Bat  (None, 128)                  512       ['dense_17[0][0]']
 chNormalization)

 dense_18 (Dense)            (None, 2)                    258       ['batch_normalization_7[0][0]'
                                                                    ]

==================================================================================================
Total params: 124877186 (476.37 MB)
Trainable params: 230786 (901.51 KB)
Non-trainable params: 124646400 (475.49 MB)
__________________________________________________________________________________________________

In [116]:
# Compile and train the model

In [170]:
# Compile the model (add loss, optimizer, metrics)

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir=log_dir, histogram_freq=1)

# Clear any logs from previous runs
!rm -rf ./logs/

def MCRMSE(y_true, y_pred):
    column_losses = tf.reduce_mean(tf.square(y_true - y_pred), axis=0)
    return tf.sqrt(tf.reduce_mean(column_losses))


model.compile(
    loss=keras.losses.MeanSquaredError(),
    optimizer=keras.optimizers.Adam(learning_rate=0.001),
    metrics=[MCRMSE]
)

num_of_samples = 10

# Train the model
model.fit(x=X_train[:num_of_samples],
          y=Y_train[:num_of_samples],
          validation_split=0.2,
          epochs=5,
          batch_size=16,
          callbacks=[tensorboard_callback],
          verbose=2)


"""
Epoch 1/5
1/1 - 80s - loss: 0.7473 - mae: 0.6926 - val_loss: 2.1400 - val_mae: 1.3103 - 80s/epoch - 80s/step
Epoch 2/5
1/1 - 64s - loss: 0.7145 - mae: 0.6683 - val_loss: 2.0922 - val_mae: 1.3106 - 64s/epoch - 64s/step
Epoch 3/5
1/1 - 60s - loss: 0.6948 - mae: 0.6460 - val_loss: 2.0498 - val_mae: 1.3105 - 60s/epoch - 60s/step
Epoch 4/5
1/1 - 60s - loss: 0.6714 - mae: 0.6237 - val_loss: 2.0126 - val_mae: 1.3106 - 60s/epoch - 60s/step
Epoch 5/5
1/1 - 57s - loss: 0.6631 - mae: 0.6064 - val_loss: 1.9801 - val_mae: 1.3105 - 57s/epoch - 57s/step

"""

Epoch 1/5
1/1 - 93s - loss: 1.2222 - MCRMSE: 1.1055 - val_loss: 2.3551 - val_MCRMSE: 1.5346 - 93s/epoch - 93s/step
Epoch 2/5
1/1 - 66s - loss: 3.1622 - MCRMSE: 1.7783 - val_loss: 2.1113 - val_MCRMSE: 1.4530 - 66s/epoch - 66s/step
Epoch 3/5
1/1 - 67s - loss: 2.8362 - MCRMSE: 1.6841 - val_loss: 1.7233 - val_MCRMSE: 1.3128 - 67s/epoch - 67s/step
Epoch 4/5
1/1 - 61s - loss: 1.9732 - MCRMSE: 1.4047 - val_loss: 1.5649 - val_MCRMSE: 1.2510 - 61s/epoch - 61s/step
Epoch 5/5
1/1 - 65s - loss: 1.3864 - MCRMSE: 1.1775 - val_loss: 1.5998 - val_MCRMSE: 1.2648 - 65s/epoch - 65s/step

'\nEpoch 1/5\n1/1 - 80s - loss: 0.7473 - mae: 0.6926 - val_loss: 2.1400 - val_mae: 1.3103 - 80s/epoch - 80s/step\nEpoch 2/5\n1/1 - 64s - loss: 0.7145 - mae: 0.6683 - val_loss: 2.0922 - val_mae: 1.3106 - 64s/epoch - 64s/step\nEpoch 3/5\n1/1 - 60s - loss: 0.6948 - mae: 0.6460 - val_loss: 2.0498 - val_mae: 1.3105 - 60s/epoch - 60s/step\nEpoch 4/5\n1/1 - 60s - loss: 0.6714 - mae: 0.6237 - val_loss: 2.0126 - val_mae: 1.3106 - 60s/epoch - 60s/step\nEpoch 5/5\n1/1 - 57s - loss: 0.6631 - mae: 0.6064 - val_loss: 1.9801 - val_mae: 1.3105 - 57s/epoch - 57s/step\n\n'

In [171]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 28606), started 1:02:26 ago. (Use '!kill 28606' to kill it.)

In [90]:
# Run manually the model on a some features to see the output.
num_of_features = 6
X_train[:num_of_features]
model(X_train[:num_of_features])

<tf.Tensor: shape=(6, 2), dtype=float32, numpy=
array([[ 0.1836427 , -0.90790826],
       [ 0.14288285, -0.91260374],
       [ 0.23615369, -0.9612537 ],
       [ 0.1906682 , -0.9618801 ],
       [ 0.13323921, -0.8964913 ],
       [ 0.16604379, -0.8585125 ]], dtype=float32)>

In [ ]:
# # Tokenize text data
# train_encodings = tokenizer.batch_encode_plus(train['text'].tolist(),
#                                               truncation=True, padding=True)

# # Create TensorFlow dataset
# train_df = tf.data.Dataset.from_tensor_slices(({'input_ids': train_encodings['input_ids'],
#                                                 'attention_mask': train_encodings['attention_mask']},
#                                                {'content': train['content'].tolist(),
#                                                 'wording': train['wording'].tolist()}))
# train_df = train_df.take(5)

# # Define Keras model
# model = keras.Sequential([roberta,
#                           tf.keras.layers.GlobalAveragePooling1D(),
#                           tf.keras.layers.Flatten(), 
#                           tf.keras.layers.Dense(2, activation='linear')])

# # Compile the model (add loss, optimizer, metrics)
# model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

# # Train the model
# model.fit(train_df, epochs=5, batch_size=1)

In [ ]:
# model.summary()

In [ ]:
# for input_ids, attention_mask, content, wording in train_df:
#     print("Input IDs:", input_ids)
#     print("Attention mask:", attention_mask)
#     print("Content:", content)
#     print("Wording:", wording)

Input IDs: tf.Tensor(
[    0   134  7510     9    41  5631  6906    16    14    24   197    28
 12121    15    10  2632   563     4  1437  2044  7510     9    41  5631
  6906    16    14    24   197   129    33    65  1049   696     4    20
    94  7510     9    41  5631  6906    16    14    24   197    33    10
  1457 15019  6197     8    41  5483 21421    13   258   205     8  1099
     4     2     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1     1     1     1     1
     1     1     1     1     1     1     1     1], shape=(512,), dtype=int32)
Attention mask: tf.Tensor(
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0], shape=(512,), dtype=int32)
Content: tf.Tensor(-0.21061394, shape=(), dtype=float32)
Wording: tf.Tensor(-0.47141483, shape=(), dtype=float32)

In [ ]:
# # Tokenize text data
# train_encodings = tokenizer.batch_encode_plus(train['text'].tolist(),
#                                               truncation=True, padding=True)

# # Create TensorFlow dataset
# train_df = tf.data.Dataset.from_tensor_slices(({'input_ids': train_encodings['input_ids'],
#                                                 'attention_mask': train_encodings['attention_mask']},
#                                                {'content': train['content'].tolist(),
#                                                 'wording': train['wording'].tolist()}))
# train_df = train_df.take(5)

# # Define Keras model
# input_ids = tf.keras.Input(shape=(512,), dtype='int32', name='input_ids')
# attention_mask = tf.keras.Input(shape=(512,), dtype='int32', name='attention_mask')

# roberta_output = roberta(input_ids, attention_mask=attention_mask)[0]  # Accessing the output of the Roberta model

# # Flatten and dense layers
# flatten_output = tf.keras.layers.Flatten()(roberta_output)
# dense_output = tf.keras.layers.Dense(2, activation='linear')(flatten_output)

# model = tf.keras.Model(inputs=[input_ids, attention_mask], outputs=dense_output)

# # Compile the model (add loss, optimizer, metrics)
# model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

# # Train the model
# model.fit(train_df, epochs=5, batch_size=1)

In [ ]:
len(input_text)

7165

In [ ]:
train['text']

0       1 element of an ideal tragedy is that it shoul...
1       The three elements of an ideal tragedy are:  H...
2       Aristotle states that an ideal tragedy should ...
3       One element of an Ideal tragedy is having a co...
4       The 3 ideal of tragedy is how complex you need...
                              ...
7160    In paragraph two, they would use pickle meat a...
7161    in the first paragraph  it says "either can it...
7162    They would have piles of filthy meat on the fl...
7163    They used all sorts of chemical concoctions to...
7164    The meat would smell sour but the would "rub i...
Name: text, Length: 7165, dtype: object