In [1]:
import pandas as pd

In [2]:
train_pro_paths = [r"C:\Users\salam\Documents\GitHub", ""]
train_pro_path = train_pro_paths[0]

In [3]:
// EXPLORING THE DATA

SyntaxError: invalid syntax (2384042705.py, line 1)

In [4]:
train_pro = pd.read_csv(train_pro_path + "\ML-evaluate-summaries\data\prompts_train.csv")
train_pro

,prompt_id,prompt_question,prompt_title,prompt_text
0,39c16e,Summarize at least 3 elements of an ideal trag...,On Tragedy,Chapter 13 \r\nAs the sequel to what has alrea...
1,3b9047,"In complete sentences, summarize the structure...",Egyptian Social Structure,Egyptian society was structured like a pyramid...
2,814d6b,Summarize how the Third Wave developed over su...,The Third Wave,Background \r\nThe Third Wave experiment took ...
3,ebad26,Summarize the various ways the factory would u...,Excerpt from The Jungle,"With one member trimming beef in a cannery, an..."

In [5]:
train_sum = pd.read_csv(train_pro_path + "\ML-evaluate-summaries\data\summaries_train.csv")
train_sum

,student_id,prompt_id,text,content,wording
0,000e8c3c7ddb,814d6b,The third wave was an experimentto see how peo...,0.205683,0.380538
1,0020ae56ffbf,ebad26,They would rub it up with soda to make the sme...,-0.548304,0.506755
2,004e978e639e,3b9047,"In Egypt, there were many occupations and soci...",3.128928,4.231226
3,005ab0199905,3b9047,The highest class was Pharaohs these people we...,-0.210614,-0.471415
4,0070c9e7af47,814d6b,The Third Wave developed rapidly because the ...,3.272894,3.219757
...,...,...,...,...,...
7160,ff7c7e70df07,ebad26,They used all sorts of chemical concoctions to...,0.205683,0.380538
7161,ffc34d056498,3b9047,The lowest classes are slaves and farmers slav...,-0.308448,0.048171
7162,ffd1576d2e1b,3b9047,they sorta made people start workin...,-1.408180,-0.493603
7163,ffe4a98093b2,39c16e,An ideal tragety has three elements that make ...,-0.393310,0.627128
7164,fffbccfd8a08,ebad26,"The meat would smell sour but the would ""rub i...",1.771596,0.547742

In [6]:
test_sum = pd.read_csv(train_pro_path + "\ML-evaluate-summaries\data\summaries_test.csv")
test_sum

     student_id prompt_id            text
0  000000ffffff    abc123  Example text 1
1  111111eeeeee    def789  Example text 2
2  222222cccccc    abc123  Example text 3
3  333333dddddd    def789  Example text 4

In [7]:
// אפשר לראות שהטסטר מחריד פשוט איום ונורא.

SyntaxError: invalid syntax (3896741320.py, line 1)

In [8]:
test_pro = pd.read_csv(train_pro_path + "\ML-evaluate-summaries\data\prompts_test.csv")
test_pro

  prompt_id prompt_question     prompt_title       prompt_text
0    abc123    Summarize...  Example Title 1  Heading\nText...
1    def789    Summarize...  Example Title 2  Heading\nText...

In [ ]:
train = train_pro.merge(train_sum , on = "prompt_id")

In [9]:
import tensorflow as tf
from transformers import RobertaTokenizer, TFRobertaModel

WARNING:tensorflow:From C:\Users\salam\miniconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [ ]:
# testing the tokenizer and model

In [35]:
tokenizer = RobertaTokenizer.from_pretrained('roberta-base')
roberta = TFRobertaModel.from_pretrained('roberta-base')
text = "test another test"
tokens = tokenizer(text, return_tensors='tf')
output = roberta(tokens)

Some weights of the PyTorch model were not used when initializing the TF 2.0 model TFRobertaModel: ['roberta.embeddings.position_ids', 'lm_head.layer_norm.weight', 'lm_head.layer_norm.bias', 'lm_head.dense.bias', 'lm_head.bias', 'lm_head.dense.weight']
- This IS expected if you are initializing TFRobertaModel from a PyTorch model trained on another task or with another architecture (e.g. initializing a TFBertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFRobertaModel from a PyTorch model that you expect to be exactly identical (e.g. initializing a TFBertForSequenceClassification model from a BertForSequenceClassification model).
Some weights or buffers of the TF 2.0 model TFRobertaModel were not initialized from the PyTorch model and are newly initialized: ['roberta.pooler.dense.weight', 'roberta.pooler.dense.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [43]:
tokens

{'input_ids': <tf.Tensor: shape=(1, 5), dtype=int32, numpy=array([[    0, 21959,   277,  1296,     2]])>, 'attention_mask': <tf.Tensor: shape=(1, 5), dtype=int32, numpy=array([[1, 1, 1, 1, 1]])>}

In [40]:
output[0].shape

TensorShape([1, 5, 768])

In [ ]:
# understanding the output - 
# for each input we get an array with output[0][1] features corresponding to the number of tokens generated and output[0][2]
# number of neurons in each hidden layer in the neural network RoBERTa maintains to output the 
# why do we need the first index?
# Applying PCA because